{% extends "header_footer.html" %}
{% load static %}
{% block content %}

<div class="inner-banner inner-bg9">
    <div class="container">
        <div class="inner-title">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Rooms</li>
            </ul>
            <h3>Rooms</h3>
        </div>
    </div>
</div>
<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color">Our Rooms</span>
            <h2>Choose Your Rooms According To Your convenient</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a href="/Client/search12/">
                        <!--                        <img src="{% static 'assets/img/myimgs/all resorts/ahmd.jpeg' %}" width="430" style="border-radius: 15px;">-->
                        <img src="{% static 'assets/img/myimgs/rooms/deluxe.png' %}" alt="Images" width="430" height="300"
                             style="border-radius: 15px;">
                    </a>
                    <div class="room-item reservation-room">
                        <div class="content">
                            <h3><a href="room-details.html">Deluxe Room</a></h3>
                            <p></p>
                            <ul>
                                <li class="text-color">3600</li>
                                <li><span>Per Night</span></li>
                            </ul>
                            <a href="book.html" class="book-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a href="/Client/search12/">
                        <!--                        <img src="{% static 'assets/img/myimgs/all resorts/ahmd.jpeg' %}" width="430" style="border-radius: 15px;">-->
                        <img src="{% static 'assets/img/myimgs/rooms/super deluxe.png' %}" alt="Images" width="430" height="300"
                             style="border-radius: 15px;">
                    </a>
                    <div class="room-item reservation-room">
                        <div class="content">
                            <h3><a href="room-details.html">Super deluxe Room</a></h3>
                            <p></p>
                            <ul>
                                <li class="text-color">4000</li>
                                <li><span>Per Night</span></li>
                            </ul>
                            <a href="book.html" class="book-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a href="/Client/search12/">
                        <!--                        <img src="{% static 'assets/img/myimgs/all resorts/ahmd.jpeg' %}" width="430" style="border-radius: 15px;">-->
                        <img src="{% static 'assets/img/myimgs/rooms/family.png' %}" alt="Images" width="430" height="300"
                             style="border-radius: 15px;">
                    </a>
                    <div class="room-item reservation-room">
                        <div class="content">
                            <h3><a href="room-details.html">Family Room</a></h3>
                            <p></p>
                            <ul>
                                <li class="text-color">3500</li>
                                <li><span>Per Night</span></li>
                            </ul>
                            <a href="book.html" class="book-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a href="/Client/search12/">
                        <!--                        <img src="{% static 'assets/img/myimgs/all resorts/ahmd.jpeg' %}" width="430" style="border-radius: 15px;">-->
                        <img src="{% static 'assets/img/myimgs/rooms/premium room.png' %}" alt="Images" width="430" height="300"
                             style="border-radius: 15px;">
                    </a>
                    <div class="room-item reservation-room">
                        <div class="content">
                            <h3><a href="room-details.html">Premium Room</a></h3>
                            <p></p>
                            <ul>
                                <li class="text-color">4500</li>
                                <li><span>Per Night</span></li>
                            </ul>
                            <a href="book.html" class="book-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a href="/Client/search12/">
                        <!--                        <img src="{% static 'assets/img/myimgs/all resorts/ahmd.jpeg' %}" width="430" style="border-radius: 15px;">-->
                        <img src="{% static 'assets/img/myimgs/rooms/executive.png' %}" alt="Images" width="430" height="300"
                             style="border-radius: 15px;">
                    </a>
                    <div class="room-item reservation-room">
                        <div class="content">
                            <h3><a href="room-details.html">Executive Suite</a></h3>
                            <p></p>
                            <ul>
                                <li class="text-color">11700</li>
                                <li><span>Per Night</span></li>
                            </ul>
                            <a href="book.html" class="book-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-lg-4 col-md-6">
            <div class="blog-item">
                <a href="/Client/search12/">
                    <!--                        <img src="{% static 'assets/img/myimgs/all resorts/ahmd.jpeg' %}" width="430" style="border-radius: 15px;">-->
                    <img src="{% static 'assets/img/myimgs/rooms/p-suite.png' %}" alt="Images" width="430" height="300"
                         style="border-radius: 15px;">
                </a>
                <div class="room-item reservation-room">
                    <div class="content">
                        <h3><a href="room-details.html">Presidential Suite</a></h3>
                        <p></p>
                        <ul>
                            <li class="text-color">15000</li>
                            <li><span>Per Night</span></li>
                        </ul>
                        <a href="book.html" class="book-btn">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>


{% endblock %}