{% extends "header_footer.html" %}
{% load static %}
{% block content %}

<img src="{% static 'assets/img/myimgs/package/banner.png' %}" alt="Images" width="5000" height="500">


<div class="room-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our Packages</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-6">
                <div class="restaurant-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-img">
                                <a href="/Client/fdetails/">
                                    <img src="{% static 'assets/img/myimgs/package/f.png' %}" alt="Images" height="400">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-content">
                                <h3><u><font color="#B56952">Family Package</font></u></h3>
                                <p><b>Make Stay Royal With Royal-Stay<br></b></p>
                                <p>
                                    Limited Period Super Saver for family's 7 Days & 6 Nights Package with all the
                                    special Option including all the activities to Buy
                                    Now &
                                    Book Later<br></p>
                                <p>
                                    7 Days 6 Night(s) <br></p>
                                <p>
                                    Package starting from ₹/2083 per person per night on twin sharing
                                </p>

                                <a href="family.html" class="get-btn">
                                    <ul>
                                        <a href="/Client/fdetails/" class="get-btn"
                                           style="color:#B56952; text-align:left; text-decoration:underline">View
                                            More</a></ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="restaurant-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-img">
                                <a href="/client/package-details/">
                                    <img src="{% static 'assets/img/myimgs/package/c.png' %}" height="400" alt="Images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-content">
                                <h3><u><font color="#B56952">Couple Package</font></u></h3>
                                <p><b>Make Stay Royal With Royal-Stay<br></b></p>
                                <p>
                                    Limited Period Super Saver for summer holiday 7 Days & 6 Nights Package with
                                    special offer including all the activities Option to Buy
                                    Now &
                                    Book Later<br></p>
                                <p>
                                    7 Days 6 Night(s) <br></p>
                                <p>
                                    Package starting from ₹3000 per person per night on twin sharing
                                </p>

                                <a href="family.html" class="get-btn">
                                    <ul>
                                        <a href="family.html" class="get-btn"
                                           style="color:#B56952; text-align:left; text-decoration:underline">View
                                            More</a></ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="restaurant-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-img">
                                <a href="/client/package-details/">
                                    <img src="{% static 'assets/img/myimgs/package/s.png' %}" height="400" alt="Images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-content">
                                <h3><u><font color="#B56952">Summer Package</font></u></h3>
                                <p><b>Make Stay Royal With Royal-Stay<br></b></p>
                                <p>
                                    Limited Period Super Saver for summer holiday 7 Days & 6 Nights Package
                                    with
                                    special offer including all the activities Option to Buy
                                    Now &
                                    Book Later<br></p>
                                <p>
                                    7 Days 6 Night(s) <br></p>
                                <p>
                                    Package starting from ₹3000 per person per night on twin sharing
                                </p>

                                <a href="family.html" class="get-btn">
                                    <ul>
                                        <a href="family.html" class="get-btn"
                                           style="color:#B56952; text-align:left; text-decoration:underline">View
                                            More</a></ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="restaurant-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-img">
                                <a href="/client/package-details/">
                                    <img src="{% static 'assets/img/myimgs/package/n.png' %}" height="400"
                                         alt="Images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-content">
                                <h3><u><font color="#B56952">New Package</font></u></h3>
                                <p><b>Make Stay Royal With Royal-Stay<br></b></p>
                                <p>
                                    Limited Period Super Saver for New year 7 Days & 6 Nights
                                    Package
                                    with special offer including all the activities Option to Buy
                                    Now &
                                    Book Later<br></p>
                                <p>
                                    7 Days 6 Night(s) <br></p>
                                <p>
                                    Package starting from ₹3000 per person per night on twin sharing
                                </p>

                                <a href="family.html" class="get-btn">
                                    <ul>
                                        <a href="family.html" class="get-btn"
                                           style="color:#B56952; text-align:left; text-decoration:underline">View
                                            More</a></ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="restaurant-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-img">
                                <a href="/client/package-details/">
                                    <img src="{% static 'assets/img/myimgs/package/l1.png' %}" height="400"
                                         alt="Images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-content">
                                <h3><u><font color="#B56952">luxury Package</font></u></h3>
                                <p><b>Make Stay Royal With Royal-Stay<br></b></p>
                                <p>
                                    Limited Period Super Saver for holiday 7 Days & 6 Nights with luxury
                                    Package
                                    with luxury facilities including all the activities Option to Buy
                                    Now &
                                    Book Later<br></p>
                                <p>
                                    7 Days 6 Night(s) <br></p>
                                <p>
                                    Package starting from ₹8000 per person per night on twin sharing
                                </p>

                                <a href="family.html" class="get-btn">
                                    <ul>
                                        <a href="family.html" class="get-btn"
                                           style="color:#B56952; text-align:left; text-decoration:underline">View
                                            More</a></ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="restaurant-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-img">
                                <a href="/client/package-details/">
                                    <img src="{% static 'assets/img/myimgs/package/w.png' %}" height="400"
                                         alt="Images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="restaurant-content">
                                <h3><u><font color="#B56952">Wellness escape Package</font></u></h3>
                                <p><b>Make Stay Royal With Royal-Stay<br></b></p>
                                <p>
                                    1 Night Wellness Package From Lunch to Next Day Breakfast in a Suite include all the
                                    activities to make ur self relax
                                    come to our resort for wellness escape<br></p>
                                <p>
                                    2 Days 1 Night(s) <br></p>
                                <p>
                                    Package starting from ₹24999 onwards
                                </p>

                                <a href="family.html" class="get-btn">
                                    <ul>
                                        <a href="family.html" class="get-btn"
                                           style="color:#B56952; text-align:left; text-decoration:underline">View
                                            More</a></ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}