<div class="team-style-area pt-100 pb-70">
    <div class="container">
        <div class="col-lg-8">
            <div class="reservation-widget-content">
                <h2>Most Suitable Relevant Rooms</h2>
                <div class="row pt-45">
                    <div class="col-lg-6  col-md-6">
                        <div class="room-item reservation-room">
                            <a href="room-details.html">
                                <img src="{% static 'assets/img/myimgs/rooms/deluxe.png' %}" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="room-details.html">Deluxe Room</a></h3>
                                <p></p>
                                <ul>
                                    <li class="text-color">3600</li>
                                    <li><span>Per Night</span></li>
                                </ul>
                                <a href="book.html" class="book-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="room-item reservation-room">
                            <a href="room-details.html">
                                <img src="{% static 'assets/img/myimgs/rooms/super deluxe.png' %}" alt="Images"
                                     height="260">
                            </a>
                            <div class="content">
                                <h3><a href="room-details.html">Super deluxe Room</a></h3>
                                <p></p>
                                <ul>
                                    <li class="text-color">4000</li>
                                    <li><span>Per Night</span></li>
                                </ul>
                                <a href="book.html" class="book-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="room-item reservation-room">
                            <a href="room-details.html">
                                <img src="{% static 'assets/img/myimgs/rooms/family.png' %}" height="260" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="room-details.html">Family Room</a></h3>
                                <p></p>
                                <ul>
                                    <li class="text-color">3500</li>
                                    <li><span>Per Night</span></li>
                                </ul>
                                <a href="book.html" class="book-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="room-item reservation-room">
                            <a href="room-details.html">
                                <img src="{% static 'assets/img/myimgs/rooms/premium room.png' %}" height="260"
                                     alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="room-details.html">Premium Room</a></h3>
                                <p></p>
                                <ul>
                                    <li class="text-color">4500</li>
                                    <li><span>Per Night</span></li>
                                </ul>
                                <a href="book.html" class="book-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="room-item reservation-room">
                            <a href="room-details.html">
                                <img src="{% static 'assets/img/myimgs/rooms/executive.png' %}" height="260"
                                     alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="room-details.html">Executive Suite</a></h3>
                                <p></p>
                                <ul>
                                    <li class="text-color">11700</li>
                                    <li><span>Per Night</span></li>
                                </ul>
                                <a href="book.html" class="book-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="room-item reservation-room">
                            <a href="room-details.html">
                                <img src="{% static 'assets/img/myimgs/rooms/p-suite.png' %}" height="260" alt="Images"
                                     width="400">
                            </a>
                            <div class="content">
                                <h3><a href="room-details.html">Presidential Suite</a></h3>
                                <p></p>
                                <ul>
                                    <li class="text-color">15000</li>
                                    <li><span>Per Night</span></li>
                                </ul>
                                <a href="book.html" class="book-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>