{% extends "header_footer.html" %}
{% load static %}
{% block content %}


<div class="banner-area">
    <div class="container">
        <div class="banner-content">
            <h1>Discover a Resort to Book a Suitable Room & Package</h1>
            <p>
                The resort business is one of the best and loyal business in the global market.
                We are the agency that helps to book you a good room in a suitable palace at a reasonable price.
            </p>
            <div class="banner-btn">
                <a href="/Client/aboutus/" class="default-btn btn-bg-one border-radius-5">Read More</a>
            </div>
        </div>
    </div>
</div>


<div class="about-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'assets/img/about/about-img.jpg' %}" alt="Images">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">

                        <h2>We Are More Than 20+ Global Exp. And We Have a Lots of Reasons Into The Choose Us From
                            Other</h2>
                        <p>
                            The luxury of the resorts is reflected in the ambiance of every guestroom.
                            At our resorts, every effort is made to ensure that you feel pampered. Along with this,
                            the resorts offer numerous on-site facilities to satisfy even the most discerning of guests.
                            The hotel's recreational facilities include many activites
                            designed for pure escape and relaxation.
                        </p>
                    </div>
                    <ul>
                        <!--                        <li>-->
                        <!--                            <i class="flaticon-restaurant"></i>-->
                        <!--                            <div class="content">-->
                        <!--                                -->
                        <!--                            </div>-->
                        <!--                        </li>-->
                        <li>
                            <i class="flaticon-wifi-signal-1"></i>
                            <div class="content">
                                <h3>Free Wifi Facilities</h3>
                                <p>
                                    This is the place where you will get a free wifi zone on a reasonable price and this
                                    will help you to make a colourful happy moments.
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="reservation-area section-bg pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="reservation-content">
                    <div class="section-title">
                        <h2>Royal-Stay Holiday Membership</h2>
                        <p>
                            The new generation vacation ownership from Royal-stay Resorts gives you the flexibility to
                            create
                            your own dream ‘Happy Holidays' because it is modelled on the national system.
                        </p>
                        <p>
                            Royal-Stay membership is the perfect way to create magical memories with your family Your
                            holidays at Royal-Stay are filled with joy, happiness and activities so that you explore
                            together, laugh together and grow together, year after year
                        </p>
                    </div>
                    <a href="/Client/membership/" class="default-btn btn-bg-one border-radius-5">Know More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="reservation-img">
                    <img src="{% static 'assets/img/reservation/reservation-img.jpg' %}" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<!--<div class="services-area pb-70">-->
<!--    <div class="container">-->
<!--        <div class="section-title text-center">-->
<!--            <h2>Our Services on the Global Market for Our Client's Reservation</h2>-->
<!--        </div>-->
<!--        <div class="services-slider owl-carousel owl-theme pt-45">-->
<!--            <div class="services-item">-->
<!--                <i class="flaticon-hotel"></i>-->
<!--                <h3><a href="service-details.html">Hotel Room Reservation into the Desire Places</a></h3>-->
<!--                <p>You can easily reserve a hotel room in a suitable place as you want. This will be able to make good-->
<!--                    feelings.</p>-->
<!--                <a href="service-details.html" class="get-btn">Get Service</a>-->
<!--            </div>-->
<!--            <div class="services-item">-->
<!--                <i class="flaticon-resort"></i>-->
<!--                <h3><a href="service-details.html">Resort Reservation Into a Suitable Place</a></h3>-->
<!--                <p>One can easily reserve a resort room in a suitable place as you want. This will be able to make good-->
<!--                    feelings.</p>-->
<!--                <a href="service-details.html" class="get-btn">Get Service</a>-->
<!--            </div>-->
<!--            <div class="services-item">-->
<!--                <i class="flaticon-buildings"></i>-->
<!--                <h3><a href="service-details.html">Weeding Hall Reservation in the Suitable Place</a></h3>-->
<!--                <p>Weeding hall reservation is possible in a suitable place as you want. This will be able to make good-->
<!--                    feelings.</p>-->
<!--                <a href="service-details.html" class="get-btn">Get Service</a>-->
<!--            </div>-->
<!--            <div class="services-item">-->
<!--                <i class="flaticon-calendar"></i>-->
<!--                <h3><a href="service-details.html">Book Now to Secure Availability Time Now</a></h3>-->
<!--                <p>You can easily reserve a hotel room in a suitable place as you want. This will be able to make good-->
<!--                    feelings.</p>-->
<!--                <a href="service-details.html" class="get-btn">Get Service</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="specialty-area pt-50 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>SPECIALTY</span>
            <h2>Our Specialization Sectors & All of the Other Details</h2>
        </div>
        <div class="row pt-45 align-items-center">
            <div class="col-lg-6 col-xxl-7">
                <div class="specialty-img">
                    <img src="{% static 'assets/img/specialty/specialty-img1.jpg' %}" alt="Images">
                </div>
            </div>
            <div class="col-lg-6 col-xxl-5">
                <div class="specialty-list">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="specialty-list-card">
                                <i class="flaticon-decoration"></i>
                                <h3>Well Decoration</h3>
                                <p>We are very careful about our room and all of the resort decorations. So, try us.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                             <div class="specialty-list-card">
                                <i class="text-color fa fa-users" ></i>
                                <h3>Activities</h3>
                                <p>You can easily enjoy free access to all the activities in our resort</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="specialty-list-card">
                                <i class="flaticon-fireworks"></i>
                                <h3>5 Stars Ratings</h3>
                                <p>Royal-Stay Resort is a Well Known Agency and the Agency is One of the Best by 5 Star
                                    Rotting. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="room-area pt-100 pb-70 section-bg">-->
<!--    <div class="container">-->
<!--        <div class="section-title text-center">-->
<!--            <span>ROOMS</span>-->
<!--            <h2>Our Rooms & Rates</h2>-->
<!--        </div>-->
<!--        <div class="row pt-45">-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="room-card">-->
<!--                    <a href="room-details.html">-->
<!--                        <img src="{% static 'assets/img/room/room-img1.jpg' %}" alt="Images">-->
<!--                    </a>-->
<!--                    <div class="content">-->
<!--                        <h3><a href="room-details.html">Luxury Room</a></h3>-->
<!--                        <ul>-->
<!--                            <li>320</li>-->
<!--                            <li>Per Night</li>-->
<!--                        </ul>-->
<!--                        <div class="rating">-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star-half'></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="room-card">-->
<!--                    <a href="room-details.html">-->
<!--                        <img src="{% static 'assets/img/room/room-img2.jpg' %}" alt="Images">-->
<!--                    </a>-->
<!--                    <div class="content">-->
<!--                        <h3><a href="room-details.html">Single Room</a></h3>-->
<!--                        <ul>-->
<!--                            <li>300</li>-->
<!--                            <li>Per Night</li>-->
<!--                        </ul>-->
<!--                        <div class="rating">-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star-half'></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="room-card">-->
<!--                    <a href="room-details.html">-->
<!--                        <img src="{% static 'assets/img/room/room-img3.jpg' %}" alt="Images">-->
<!--                    </a>-->
<!--                    <div class="content">-->
<!--                        <h3><a href="room-details.html">Double Room</a></h3>-->
<!--                        <ul>-->
<!--                            <li>350</li>-->
<!--                            <li>Per Night</li>-->
<!--                        </ul>-->
<!--                        <div class="rating">-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star-half'></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="room-card">-->
<!--                    <a href="room-details.html">-->
<!--                        <img src="{% static 'assets/img/room/room-img4.jpg' %}" alt="Images">-->
<!--                    </a>-->
<!--                    <div class="content">-->
<!--                        <h3><a href="room-details.html">Family Room</a></h3>-->
<!--                        <ul>-->
<!--                            <li>370</li>-->
<!--                            <li>Per Night</li>-->
<!--                        </ul>-->
<!--                        <div class="rating">-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star-half'></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="room-card">-->
<!--                    <a href="room-details.html">-->
<!--                        <img src="{% static 'assets/img/room/room-img5.jpg' %}" alt="Images">-->
<!--                    </a>-->
<!--                    <div class="content">-->
<!--                        <h3><a href="room-details.html">Deluxe Room</a></h3>-->
<!--                        <ul>-->
<!--                            <li>270</li>-->
<!--                            <li>Per Night</li>-->
<!--                        </ul>-->
<!--                        <div class="rating">-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star-half'></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="room-card">-->
<!--                    <a href="room-details.html">-->
<!--                        <img src="{% static 'assets/img/room/room-img6.jpg' %}" alt="Images">-->
<!--                    </a>-->
<!--                    <div class="content">-->
<!--                        <h3><a href="room-details.html">Presidential Room</a></h3>-->
<!--                        <ul>-->
<!--                            <li>270</li>-->
<!--                            <li>Per Night</li>-->
<!--                        </ul>-->
<!--                        <div class="rating">-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star'></i>-->
<!--                            <i class='bx bxs-star-half'></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<br><br>

<div class="testimonials-area-another pb-100">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our Latest Testimonials and What Our Client Says</h2>
        </div>
        <div class="testimonials-slider-three owl-carousel owl-theme pt-45">
            {% for data in feedback|slice:"0:5" %}
            <div class="testimonials-item">
                <i class="flaticon-left-quote text-color"></i>
                <p>
                    {{data.feedback}}
                </p>
                <ul>
                    <li>
                        <img src="{% static 'assets/img/myimgs/user.png' %}" width="5px" height="40px"/>
                        <h3>{{data.c_id.c_name}}</h3>
                        {% if data.rate == 5 %}
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        {% elif data.rate == 4 %}
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        {% elif data.rate == 3 %}
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        {% elif data.rate == 2 %}
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        {% elif data.rate == 1 %}
                        <i class="fa fa-star" style="color:#EE786C;font-size:15px"></i>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="blog-area pt-30 pb-50">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color">BLOGS</span>
            <h2>Our Latest Blogs to the Intranational Journal at a Glance</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a >
                        <img src="{% static 'assets/img/myimgs/blog img/cycle.jpeg' %}" alt="Images" width="450">
                    </a>
                    <div class="content">
                        <ul>
                            <li>October 01, 2020</li>
                            <li><i class='bx bx-user'></i>29K</li>
                            <li><i class='bx bx-message-alt-dots'></i>15K</li>
                        </ul>
                        <h3>
                            <a >Adventure Cycling.</a>
                        </h3>
                        <p>Experience an adrenaline rush on an exciting downhill cycle ride for 2.5 hours through
                            forests paddies. You should be a minimum of 7 years
                            with minimum height of 135 cm.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a >
                        <img src="{% static 'assets/img/myimgs/blog img/child.jpeg' %}" alt="Images" width="450">
                    </a>
                    <div class="content">
                        <ul>
                            <li>October 07, 2021</li>
                            <li><i class='bx bx-user'></i>22K</li>
                            <li><i class='bx bx-message-alt-dots'></i>24K</li>
                        </ul>
                        <h3>
                            <a >Kids Club.</a>
                        </h3>
                        <p>For younger guests there is a kids club, a separate children's pool and an ultra-thin, roofed
                            shady outdoor pool coupled with a sand box ideal for small children.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a >
                        <img src="{% static 'assets/img/myimgs/blog img/Golf.jpeg' %}" alt="Images" width="450">
                    </a>
                    <div class="content">
                        <ul>
                            <li>January 17, 2021</li>
                            <li><i class='bx bx-user'></i>27K</li>
                            <li><i class='bx bx-message-alt-dots'></i>39K</li>
                        </ul>
                        <h3>
                            <a >Golf Activity</a>
                        </h3>
                        <p>Expertly crafted by Nicklaus Design and
                            challenges offered by Al Zorah Golf Club makes it a dream golfing destination.
                            located just minutes away from the
                            resort.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}