{% extends "admin_header.html" %}
{% load static  %}
{% block content %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Booking Table</h4>
                    </div>

                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">


                    <div class="col-sm-12">
                        <div class="white-box">
                            <form method="POST" action="/report3/">
                                {% csrf_token %}
                                <input type="text" name="city_name">

                                <button type="submit">Submit</button>
                            </form><br>
                           <!-- <h3 class="box-title m-b-0">Data Export</h3>
                            <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p>-->
                            <div class="table-responsive">
                                <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Booking Id</th>
                                            <th>Customer Name</th>
                                            <th>Package Name</th>
                                            <th>Room Name</th>
                                            <th>Booking date</th>
                                            <th>CheckIn Date</th>
                                            <th>Checkout Date</th>
                                            <th>Booking Status</th>
                                            <th>Total</th>
                                             <th>Payment Status</th>

                                        </tr>
                                    </thead>
                                   <tfoot>
                                        <tr>
                                            <th>Booking Id</th>
                                            <th>Customer Name</th>
                                            <th>Package Name</th>
                                            <th>Room Name</th>
                                            <th>Booking date</th>
                                            <th>CheckIn Date</th>
                                            <th>Checkout Date</th>
                                             <th>Booking Status</th>
                                            <th>Total</th>
                                            <th>Payment Status</th>

                                        </tr>
                                   </tfoot>
                                    <tbody>
                                        {% for data in book %}
                                        <tr>
                                              <td>{{data.booking_id}}</td>
                                              <td>{{data.c_id.c_name}}</td>
                                            <td>
                                            {% if data.package_id_id == NULL %}
                                                <b><center>-</center></b>
                                            {% else %}
                                            {{data.package_id.package_name}}
                                            {% endif %}
                                            </td>
                                              <td>
                                               {% if data.room_id_id == NULL %}
                                                    <b><center>-</center></b>
                                            {% else %}
                                                  {{data.room_id.room_name}}
                                            {% endif %}
                                              </td>
                                              <td>{{data.booking_date}}</td>
                                              <td>{{data.checkIn_date}}</td>
                                              <td>{{data.checkOut_date}}</td>
                                            <td>
                                                {% if data.booking_status == 0 %}
                                                <span class="label label-table label-success" style="background-color:gray" >Pending</span>
                                                {% endif %}
                                                {% if data.booking_status == 1 %}
                                                <span class="label label-table label-success" >Accept</span>
                                                {% endif %}
                                                {% if data.booking_status == 2 %}
                                                <span class="label label-table label-success" style="background-color:red">Rejected</span>
                                                {% endif %}
                                            </td>
                                            <td>{{data.total}}</td>
                                            <td>{% if data.payment_status == '1' %}
                                                Net Banking
                                            {% endif %}
                                            {% if data.payment_status == '0' %}
                                              Pending
                                            {% endif %}
                                            {% if data.payment_status == '2' %}
                                              Cash Payment
                                            {% endif %}
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.row -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul>
                                <li><b>Layout Options</b></li>
                                <li>
                                    <div class="checkbox checkbox-info">
                                        <input id="checkbox1" type="checkbox" class="fxhdr">
                                        <label for="checkbox1"> Fix Header </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-warning">
                                        <input id="checkbox2" type="checkbox" checked="" class="fxsdr">
                                        <label for="checkbox2"> Fix Sidebar </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-success">
                                        <input id="checkbox4" type="checkbox" class="open-close">
                                        <label for="checkbox4"> Toggle Sidebar </label>
                                    </div>
                                </li>
                            </ul>
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" theme="default" class="default-theme working">1</a></li>
                                <li><a href="javascript:void(0)" theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" theme="megna-dark" class="megna-dark-theme">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/varun.jpg' %}" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/genu.jpg' %}" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/ritesh.jpg' %}" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/arijit.jpg' %}" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/govinda.jpg' %}" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/hritik.jpg' %}" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/john.jpg' %}" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/pawandeep.jpg' %}" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->

        </div>


        <!-- /#page-wrapper -->
    </div>
{% endblock %}
    <!-- /#wrapper -->
    <!-- jQuery -->
